<div id="Footer">
    <a id="infologo-a" href=""><svg id="infologo" xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewBox="0 0 46 46" fill="none">
        <path d="M43.833 16.7502V12.5835H41.7497V8.41683H39.6663V6.3335H37.583V4.25016H33.4163V2.16683H29.2497V0.0834961H16.7497V2.16683H12.583V4.25016H8.41634V6.3335H6.33301V8.41683H4.24967V12.5835H2.16634V16.7502H0.0830078V29.2502H2.16634V33.4168H4.24967V37.5835H6.33301V39.6668H8.41634V41.7502H12.583V43.8335H16.7497V45.9168H29.2497V43.8335H33.4163V41.7502H37.583V39.6668H39.6663V37.5835H41.7497V33.4168H43.833V29.2502H45.9163V16.7502H43.833ZM20.9163 10.5002H25.083V14.6668H20.9163V10.5002ZM18.833 29.2502H20.9163V18.8335H18.833V16.7502H25.083V29.2502H27.1663V33.4168H18.833V29.2502Z" fill="#DA7600"/>
        </svg></a>
        
    
    <a id="githublogo-a" href=""><svg id="githublogo"xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewBox="0 0 50 50" fill="none">
        <path d="M47.9173 18.7502V31.2502H45.834V35.4168H43.7507V39.5835H41.6673V41.6668H39.584V43.7502H37.5007V45.8335H33.334V47.9168H31.2507V37.5002H29.1673V35.4168H31.2507V33.3335H35.4173V31.2502H37.5007V29.1668H39.584V18.7502H37.5007V12.5002H33.334V14.5835H31.2507V16.6668H29.1673V14.5835H20.834V16.6668H18.7507V14.5835H16.6673V12.5002H12.5007V18.7502H10.4173V29.1668H12.5007V31.2502H14.584V33.3335H18.7507V37.5002H14.584V35.4168H12.5007V33.3335H8.33398V35.4168H10.4173V39.5835H12.5007V41.6668H18.7507V47.9168H16.6673V45.8335H12.5007V43.7502H10.4173V41.6668H8.33398V39.5835H6.25065V35.4168H4.16732V31.2502H2.08398V18.7502H4.16732V14.5835H6.25065V10.4168H8.33398V8.3335H10.4173V6.25016H14.584V4.16683H18.7507V2.0835H31.2507V4.16683H35.4173V6.25016H39.584V8.3335H41.6673V10.4168H43.7507V14.5835H45.834V18.7502H47.9173Z" fill="#DA7600"/>
        </svg></a>

        


    <a id="maillogo-a" href=""><svg id="maillogo" xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewBox="0 0 50 50" fill="none">
        
        <path d="M43.75 8.3335V10.4168H41.6667V12.5002H39.5833V14.5835H37.5V16.6668H35.4167V18.7502H33.3333V20.8335H31.25V22.9168H29.1667V25.0002H27.0833V27.0835H22.9167V25.0002H20.8333V22.9168H18.75V20.8335H16.6667V18.7502H14.5833V16.6668H12.5V14.5835H10.4167V12.5002H8.33333V10.4168H6.25V8.3335H43.75Z" fill="#DA7600"/>
        <path d="M47.9173 10.4165V39.5832H45.834V41.6665H4.16732V39.5832H2.08398V10.4165H6.25065V12.4998H8.33398V14.5832H10.4173V16.6665H12.5007V18.7498H14.584V20.8332H16.6673V22.9165H18.7507V24.9998H20.834V27.0832H22.9173V29.1665H27.084V27.0832H29.1673V24.9998H31.2507V22.9165H33.334V20.8332H35.4173V18.7498H37.5007V16.6665H39.584V14.5832H41.6673V12.4998H43.7507V10.4165H47.9173Z" fill="#DA7600"/>
      </svg></a>
        
        

</div>

</body>
</html>