<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <title>Oyun Avcısı</title>
</head>
<body>

    <div id="navBar">
        <h2 id="navHeader">Oyun Avcısı</h2>
        <div class="corner">
        <a><h2 class="membershipText">üye ol</h2></a>
        <p class="membershipText">/</p>
        <a><h2 class="membershipText">giriş yap</h2></a>
        </div>
    </div>
